<div class = "navbar">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in auctor elit. Nunc sem ex, mollis vitae fringilla sit amet, laoreet ut urna. Suspendisse potenti. Ut et libero egestas, dapibus metus vel, lobortis turpis. Integer eget quam vitae velit pharetra pharetra sit amet semper erat. Aenean eu turpis in lorem rutrum efficitur eleifend sed enim. Donec ultrices finibus sapien, non mattis elit efficitur vehicula. In hac habitasse platea dictumst. Quisque bibendum purus et diam posuere, id rutrum justo rutrum.

      Nulla hendrerit blandit lorem. Nulla rutrum, velit dictum lobortis lacinia, mauris arcu lacinia lorem, eu pharetra tortor tortor ac felis. Cras ac risus molestie, cursus nisl faucibus, consequat nibh. Nam eget gravida eros. Nunc aliquam pharetra mauris, et tincidunt lacus finibus vel. Cras consequat sollicitudin nulla at suscipit. Nam at neque eu libero eleifend suscipit a blandit orci. Maecenas mollis venenatis urna non sagittis. Nulla rutrum malesuada tincidunt. Nulla in est tellus.

      Sed ornare in erat at pulvinar. Praesent fermentum tempus orci et scelerisque. Suspendisse eu maximus lectus, eget dapibus purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt posuere arcu. Nunc sit amet purus vitae lacus euismod rutrum a a tellus. Nunc sit amet placerat odio, in rutrum diam.
    </div>

    <div class="col-md-3 col-sm-12">
      <h3>Szybki kontakt.</h3>
      <ul>
        <li>
          <i class="fab fa-facebook"></i>
        </li>
        <li>
          <i class="fab fa-instagram"></i>
        </li>
        <li>
          <i class="far fa-envelope-open"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
<footer>Copyrights © Miłosz Lazarowicz | 2019</footer>
